BODY
{
	direction: rtl;
	margin: 0;
	padding: 0;
	background-color: #13C2F6;
}
IMG
{
	border: 0px;
	background-image: url(https://www.newportbeachindy.com/wp-content/uploads/2014/02/ocean.jpg);
}
.feed-container
{
	font-size: 12px;
	border: 1px solid #CCC;
	font-family: Arial, Helvetica, sans-serif;
}
.feed-container .header
{
	margin: 0px;
	padding: 5px 5px 5px 5px;
	color: #FFF;
	background-color: #B51F04;
}
.feed-container .footer
{
	margin: 0px;
	padding: 5px 5px 5px 5px;
	color: #000000;
	background-color: #009999;
}
.feed-container .header .title
{
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.feed-container .header A:link
{
	color: #FFF;
	text-decoration: none;
}
.feed-container .header A:visited
{
	color: #FFF;
	text-decoration: none;
}
.feed-container .header A:hover
{
	color: #FFF;
	text-decoration: underline;
}
.feed-container .header A:active
{
	color: #FFF;
	text-decoration: none;
}
.feed-container .content
{
	margin: 0px;
	padding: 0 3px;
	background-color: #FCEFFF;
}
.feed-container .content .item
{
	margin: 0 0 7px 0;
	padding: 0 0 7px 0;
	border-bottom: 1px dashed #CCCCCC;
}
.feed-container .content .item .title
{
	margin: 1px 0 1px 3px;
	padding: 1px 2px 1px 3px;
	color: #486049;
	font-weight: bold;
}
.feed-container .content .item .title A:link
{
	color: #5A4860;
	text-decoration: none;
}
.feed-container .content .item .title A:visited
{
	color: #5A4860;
	text-decoration: none;
}
.feed-container .content .item .title A:hover
{
	color: #5A4860;
	text-decoration: underline;
}
.feed-container .content .item .title A:active
{
	color: #5A4860;
	text-decoration: none;
}
.feed-container .content .item .description
{
	margin: 0 0 0 3px;
	padding: 0 2px 0 3px;
	color: #666;
}
.feed-container .content .item .description A
{
	text-decoration: none;
	color: #9257A6;
}
.feed-container .content .item .description A:hover
{
	text-decoration: underline;
	color: #CC99CC;
}
