body{margin:0;padding:0;background-image:url(/images/ex3a.jpg);}
img {border:0px;}
.feed-container{font-size:12px;color:#fff;}
.feed-container .header{padding:5px 5px 5px 5px;font-size:14px;text-align:center;border-bottom:1px solid #CCC;}
.feed-container .footer{padding:2px 5px 2px;text-align:center;border-top:1px solid #CCC;}
.feed-container .header .title{margin:0;padding:0;font-weight:bold;}
.feed-container .header a:link{text-decoration:none;color:#fff}
.feed-container .header a:visited{text-decoration:none;color:#fff}
.feed-container .header a:hover{text-decoration:underline;color:#fff}
.feed-container .header a:active{text-decoration:none;color:#fff}
.feed-container .content{margin:0px;padding:0 3px;}
.feed-container .content .item{margin:0 0 7px 0;padding:0 0 7px 0;border-bottom:1px dashed #CCC;}
.feed-container .content .item .title{margin:1px 0 1px 3px;padding:1px 2px 1px 3px;color:#fff;font-weight:bold;}
.feed-container .content .item .title a:link{color:#fff;text-decoration:none;}
.feed-container .content .item .title a:visited{color:#fff;text-decoration:none;}
.feed-container .content .item .title a:hover{color:#fff;text-decoration:underline;}
.feed-container .content .item .title a:active{color:#fff;text-decoration:none;}
.feed-container .content .item .description{margin:0 0 0 3px;padding:0 2px 0 3px;color:#fff;}
.feed-container .content .item .description a{text-decoration:none;color:#666;}
.feed-container .content .item .description a:hover{text-decoration:underline;color:#fff;}
